.container {
  max-width: 1400px !important;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .container {
    padding: unset !important;
  }
}

header {
  position: relative;
  z-index: 1;
  width: 100%;
}

header .image-background {
  display: none;
}

header section.top-header-background {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  height: 850px;
  width: 100%;
  background: #000;
  overflow: hidden;
}

@media (max-width: 1024px) {
  header section.top-header-background {
    height: 600px;
  }
}

@media (max-width: 767px) {
  header section.top-header-background {
    height: 500px;
  }
}

@media (max-width: 500px) {
  header section.top-header-background {
    height: 400px;
  }
}

header section.top-header-background video {
  width: 100%;
  height: 850px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  header section.top-header-background video {
    height: 600px;
  }
}

@media (max-width: 767px) {
  header section.top-header-background video {
    height: 500px;
  }
}

@media (max-width: 500px) {
  header section.top-header-background video {
    height: 400px;
  }
}

header section.top-header-background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

header section.top-header-background:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 32, 44, 0.1);
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 850px;
}

@media (max-width: 1024px) {
  header .container {
    min-height: 600px;
  }
}

@media (max-width: 767px) {
  header .container {
    min-height: 500px;
  }
}

@media (max-width: 500px) {
  header .container {
    min-height: 400px;
  }
}

header .container .top-header-menu_section {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  header .container .top-header-menu_section {
    padding: 30px 15px;
  }
}

header .container .top-header-menu_section .top-header-burger {
  display: none;
  width: 35px;
  height: 35px;
  background: #fff;
  padding: 10px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

@media (max-width: 1200px) {
  header .container .top-header-menu_section .top-header-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header .container .top-header-menu_section .top-header-burger span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2px;
  width: 100%;
  background: #1B202C;
}

header .container .top-header-menu_section nav.top-header-nav {
  background: #fff !important;
  -webkit-transition: all  0.9s;
  transition: all  0.9s;
}

@media (max-width: 1200px) {
  header .container .top-header-menu_section nav.top-header-nav {
    display: none;
  }
}

header .container .top-header-menu_section nav.top-header-nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: unset !important;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .container .top-header-menu_section nav.top-header-nav ul li.active-nav-link a {
  color: #EC0F44 !important;
}

header .container .top-header-menu_section nav.top-header-nav ul li.active-nav-link:before {
  width: 100%;
  bottom: 2px !important;
}

header .container .top-header-menu_section nav.top-header-nav ul li.compare-nav-link:hover a {
  color: #fff !important;
}

header .container .top-header-menu_section nav.top-header-nav ul li.compare-nav-link:hover:before {
  display: none !important;
}

header .container .top-header-menu_section nav.top-header-nav ul li.compare-nav-link a {
  background: #EC0F44;
  padding: 15px 30px;
  color: #fff;
}

header .container .top-header-menu_section nav.top-header-nav ul li.compare-nav-link a img {
  margin-right: 15px;
  height: 100%;
}

header .container .top-header-menu_section nav.top-header-nav ul li {
  padding: 15px 20px;
  position: relative;
  overflow: hidden;
}

header .container .top-header-menu_section nav.top-header-nav ul li:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  right: 0;
  display: block;
  background: #EC0F44;
  left: auto;
  bottom: 2px;
  -webkit-transition: width 0.3s linear 0s;
  transition: width 0.3s linear 0s;
}

header .container .top-header-menu_section nav.top-header-nav ul li:hover {
  color: #EC0F44 !important;
}

header .container .top-header-menu_section nav.top-header-nav ul li:hover a {
  color: #EC0F44;
}

header .container .top-header-menu_section nav.top-header-nav ul li:hover:before {
  left: 0;
  width: 100%;
  right: auto;
}

header .container .top-header-menu_section nav.top-header-nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 10px;
  color: #212529;
  font-size: 14px;
  font-family: "BPG Arial", sans-serif;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .container .top-header-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  header .container .top-header-body {
    padding: 0 15px;
  }
}

header .container .top-header-body .body-content_section h1 {
  font-size: 60px;
  color: #fff;
  margin: 10px 0;
  font-family: "BPG Arial Caps", sans-serif;
  -webkit-transform: all 0.4s;
          transform: all 0.4s;
}

@media (max-width: 1024px) {
  header .container .top-header-body .body-content_section h1 {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  header .container .top-header-body .body-content_section h1 {
    font-size: 25px;
  }
}

header .container .top-header-body .body-content_section h3 {
  font-size: 37px;
  color: #fff;
  margin: 10px 0;
  font-family: "BPG Arial Caps", sans-serif;
  -webkit-transform: all 0.4s;
          transform: all 0.4s;
}

@media (max-width: 1024px) {
  header .container .top-header-body .body-content_section h3 {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  header .container .top-header-body .body-content_section h3 {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  header .container .top-header-body .body-content_section .body-buttons_section {
    display: none;
  }
}

header .container .top-header-body .body-content_section .body-buttons_section button {
  padding: 15px 50px;
  border: none;
  margin: 10px 20px 10px 0;
}

header .container .top-header-body .body-content_section .body-buttons_section button a {
  color: #fff;
  font-size: 14px;
  font-family: "BPG Arial", sans-serif;
  text-decoration: none;
}

header .container .top-header-body .body-content_section .body-buttons_section > :nth-child(1) {
  background: #EC0F44;
  border: 2px solid #EC0F44;
}

header .container .top-header-body .body-content_section .body-buttons_section > :nth-child(2) {
  border: 2px solid #fff;
  background: transparent;
}

main {
  position: relative;
  z-index: 3;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
}

@media (max-width: 1024px) {
  main {
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
  }
}

@media (max-width: 767px) {
  main {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

main .container .filter-menu-content form {
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  main .container .filter-menu-content form {
    margin: 0 15px;
  }
}

main .container .filter-menu-content form .filter-form-title-responsive {
  display: none;
}

@media (max-width: 1024px) {
  main .container .filter-menu-content form .filter-form-title-responsive {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  main .container .filter-menu-content form .filter-form-title-responsive h2 {
    font-size: 13px !important;
  }
}

@media (max-width: 1024px) {
  main .container .filter-menu-content form .filter-form-title {
    display: none;
  }
}

main .container .filter-menu-content form .filter-form-title, main .container .filter-menu-content form .filter-form-title-responsive {
  padding: 40px 0 25px 0;
  margin: 0 40px;
  position: relative;
}

@media (max-width: 1024px) {
  main .container .filter-menu-content form .filter-form-title, main .container .filter-menu-content form .filter-form-title-responsive {
    padding: 15px 0 !important;
  }
}

main .container .filter-menu-content form .filter-form-title:after, main .container .filter-menu-content form .filter-form-title-responsive:after {
  position: absolute;
  content: "";
  background: #EC0F44;
  height: 4px;
  width: 50px;
  left: 0;
  bottom: 0;
}

@media (max-width: 1024px) {
  main .container .filter-menu-content form .filter-form-title:after, main .container .filter-menu-content form .filter-form-title-responsive:after {
    display: none;
  }
}

main .container .filter-menu-content form .filter-form-title h2, main .container .filter-menu-content form .filter-form-title-responsive h2 {
  font-size: 24px;
  font-family: "BPG Arial Caps", sans-serif;
  color: #0E1119;
  margin: 6px 0;
}

main .container .filter-menu-content form .filter-form-title h4, main .container .filter-menu-content form .filter-form-title-responsive h4 {
  color: #ADB5BD;
  font-size: 22px;
  font-family: "BPG Arial", sans-serif;
  margin: 6px 0;
}

main .container .filter-menu-content form .filter-form-content {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  main .container .filter-menu-content form .filter-form-content {
    padding: 0 20px;
  }
}

@media (max-width: 1024px) {
  main .container .filter-menu-content form .filter-form-content .filter-form-group._second-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  main .container .filter-menu-content form .filter-form-content .filter-form-group._second-group .group-content {
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important;
    width: 100% !important;
    padding: unset !important;
  }
}

@media (max-width: 500px) {
  main .container .filter-menu-content form .filter-form-content .filter-form-group._second-group .group-content .filter-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 500px) {
  main .container .filter-menu-content form .filter-form-content .filter-form-group._second-group .group-content .filter-input input {
    margin: 10px 0;
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  main .container .filter-menu-content form .filter-form-content .filter-form-group._first-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  main .container .filter-menu-content form .filter-form-content .filter-form-group._first-group .group-content {
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important;
    width: 100% !important;
    padding: unset !important;
  }
}

main .container .filter-menu-content form .filter-form-content .filter-form-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .filter-menu-content form .filter-form-content .filter-form-group .group-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .container .filter-menu-content form .filter-form-content .filter-form-group .group-content label {
  font-size: 15px;
  font-family: "BPG Arial", sans-serif;
}

@media (max-width: 767px) {
  main .container .filter-menu-content form .filter-form-content .filter-form-group .group-content label {
    display: none;
  }
}

main .container .filter-menu-content form .filter-form-content .filter-form-group .group-content label span {
  color: #ADB5BD;
}

main .container .filter-menu-content form .filter-form-content .filter-form-group .group-content select, main .container .filter-menu-content form .filter-form-content .filter-form-group .group-content .filter-input input {
  outline: none;
  border: none;
  font-family: "BPG Arial", sans-serif;
  background: #F1F3F5;
  padding: 20px;
  width: 100%;
  font-size: 13px;
}

@media (max-width: 767px) {
  main .container .filter-menu-content form .filter-form-content .filter-form-group .group-content select, main .container .filter-menu-content form .filter-form-content .filter-form-group .group-content .filter-input input {
    margin: 7px 0;
  }
}

main .container .filter-menu-content form .filter-form-content .filter-form-group .group-content .filter-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .filter-menu-content form .filter-form-content .filter-form-group .group-content .filter-input input {
  width: calc(50% - 8px);
}

main .container .filter-menu-content form .filter-form-content .filter-form-group .group-content .filter-input input::-webkit-input-placeholder {
  font-size: 13px;
  font-family: "BPG Arial", sans-serif;
}

main .container .filter-menu-content form .filter-form-content .filter-form-group .group-content .filter-input input:-ms-input-placeholder {
  font-size: 13px;
  font-family: "BPG Arial", sans-serif;
}

main .container .filter-menu-content form .filter-form-content .filter-form-group .group-content .filter-input input::-ms-input-placeholder {
  font-size: 13px;
  font-family: "BPG Arial", sans-serif;
}

main .container .filter-menu-content form .filter-form-content .filter-form-group .group-content .filter-input input::placeholder {
  font-size: 13px;
  font-family: "BPG Arial", sans-serif;
}

main .container .filter-menu-content form .filter-form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

@media (max-width: 1024px) {
  main .container .filter-menu-content form .filter-form-buttons {
    padding: 20px;
  }
}

main .container .filter-menu-content form .filter-form-buttons input {
  border: none;
  font-family: "BPG Arial", sans-serif;
  font-size: 15px;
  color: #ADB5BD;
  background: none;
}

@media (max-width: 1024px) {
  main .container .filter-menu-content form .filter-form-buttons input {
    font-size: 12px;
  }
}

main .container .filter-menu-content form .filter-form-buttons > :nth-child(2) {
  background: #EC0F44;
  padding: 15px 35px;
  color: #fff;
}

@media (max-width: 1024px) {
  main .container .filter-menu-content form .filter-form-buttons > :nth-child(2) {
    padding: 10px 30px;
  }
}

main .container .manufacture-section-title {
  padding-top: 90px;
}

main .container .popular-manufacturer .manufacture-section-title, main .container .popular-manufacturer .new-added-video-title, main .container .new-added-video .manufacture-section-title, main .container .new-added-video .new-added-video-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  main .container .popular-manufacturer .manufacture-section-title, main .container .popular-manufacturer .new-added-video-title, main .container .new-added-video .manufacture-section-title, main .container .new-added-video .new-added-video-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
}

main .container .popular-manufacturer .manufacture-section-title .title-leftside-content, main .container .popular-manufacturer .new-added-video-title .title-leftside-content, main .container .new-added-video .manufacture-section-title .title-leftside-content, main .container .new-added-video .new-added-video-title .title-leftside-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  main .container .popular-manufacturer .manufacture-section-title .title-leftside-content, main .container .popular-manufacturer .new-added-video-title .title-leftside-content, main .container .new-added-video .manufacture-section-title .title-leftside-content, main .container .new-added-video .new-added-video-title .title-leftside-content {
    width: 100%;
  }
}

main .container .popular-manufacturer .manufacture-section-title .title-leftside-content .accounting_section, main .container .popular-manufacturer .new-added-video-title .title-leftside-content .accounting_section, main .container .new-added-video .manufacture-section-title .title-leftside-content .accounting_section, main .container .new-added-video .new-added-video-title .title-leftside-content .accounting_section {
  margin-right: 10px;
  padding: 15px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  font-weight: 900;
  color: #EC0F44;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 767px) {
  main .container .popular-manufacturer .manufacture-section-title .title-leftside-content .accounting_section, main .container .popular-manufacturer .new-added-video-title .title-leftside-content .accounting_section, main .container .new-added-video .manufacture-section-title .title-leftside-content .accounting_section, main .container .new-added-video .new-added-video-title .title-leftside-content .accounting_section {
    padding: unset;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    margin: unset !important;
  }
}

@media (max-width: 1024px) {
  main .container .popular-manufacturer .manufacture-section-title .title-leftside-content .accounting_section, main .container .popular-manufacturer .new-added-video-title .title-leftside-content .accounting_section, main .container .new-added-video .manufacture-section-title .title-leftside-content .accounting_section, main .container .new-added-video .new-added-video-title .title-leftside-content .accounting_section {
    font-size: 80px;
  }
}

@media (max-width: 767px) {
  main .container .popular-manufacturer .manufacture-section-title .title-leftside-content .accounting_section, main .container .popular-manufacturer .new-added-video-title .title-leftside-content .accounting_section, main .container .new-added-video .manufacture-section-title .title-leftside-content .accounting_section, main .container .new-added-video .new-added-video-title .title-leftside-content .accounting_section {
    font-size: 70px;
  }
}

main .container .popular-manufacturer .manufacture-section-title .title-leftside-content .titlewithslug h2, main .container .popular-manufacturer .new-added-video-title .title-leftside-content .titlewithslug h2, main .container .new-added-video .manufacture-section-title .title-leftside-content .titlewithslug h2, main .container .new-added-video .new-added-video-title .title-leftside-content .titlewithslug h2 {
  font-size: 24px;
  font-family: "BPG Arial Caps", sans-serif;
  color: #0E1119;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  main .container .popular-manufacturer .manufacture-section-title .title-leftside-content .titlewithslug h2, main .container .popular-manufacturer .new-added-video-title .title-leftside-content .titlewithslug h2, main .container .new-added-video .manufacture-section-title .title-leftside-content .titlewithslug h2, main .container .new-added-video .new-added-video-title .title-leftside-content .titlewithslug h2 {
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  main .container .popular-manufacturer .manufacture-section-title .title-leftside-content .titlewithslug h2, main .container .popular-manufacturer .new-added-video-title .title-leftside-content .titlewithslug h2, main .container .new-added-video .manufacture-section-title .title-leftside-content .titlewithslug h2, main .container .new-added-video .new-added-video-title .title-leftside-content .titlewithslug h2 {
    font-size: 16px;
  }
}

main .container .popular-manufacturer .manufacture-section-title .title-leftside-content .titlewithslug h4, main .container .popular-manufacturer .new-added-video-title .title-leftside-content .titlewithslug h4, main .container .new-added-video .manufacture-section-title .title-leftside-content .titlewithslug h4, main .container .new-added-video .new-added-video-title .title-leftside-content .titlewithslug h4 {
  color: #ADB5BD;
  font-size: 18px;
  font-family: "BPG Arial", sans-serif;
}

@media (max-width: 1024px) {
  main .container .popular-manufacturer .manufacture-section-title .title-leftside-content .titlewithslug h4, main .container .popular-manufacturer .new-added-video-title .title-leftside-content .titlewithslug h4, main .container .new-added-video .manufacture-section-title .title-leftside-content .titlewithslug h4, main .container .new-added-video .new-added-video-title .title-leftside-content .titlewithslug h4 {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  main .container .popular-manufacturer .manufacture-section-title .title-leftside-content .titlewithslug h4, main .container .popular-manufacturer .new-added-video-title .title-leftside-content .titlewithslug h4, main .container .new-added-video .manufacture-section-title .title-leftside-content .titlewithslug h4, main .container .new-added-video .new-added-video-title .title-leftside-content .titlewithslug h4 {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  main .container .popular-manufacturer .manufacture-section-title .filterbrand, main .container .popular-manufacturer .new-added-video-title .filterbrand, main .container .new-added-video .manufacture-section-title .filterbrand, main .container .new-added-video .new-added-video-title .filterbrand {
    padding: 0 15px;
  }
}

@media (max-width: 1024px) {
  main .container .popular-manufacturer .manufacture-section-title .filterbrand, main .container .popular-manufacturer .new-added-video-title .filterbrand, main .container .new-added-video .manufacture-section-title .filterbrand, main .container .new-added-video .new-added-video-title .filterbrand {
    width: 100%;
  }
}

main .container .popular-manufacturer .manufacture-section-title .filterbrand button, main .container .popular-manufacturer .new-added-video-title .filterbrand button, main .container .new-added-video .manufacture-section-title .filterbrand button, main .container .new-added-video .new-added-video-title .filterbrand button {
  border: 1px solid #EC0F44;
  background: transparent;
  padding: 20px 40px;
  font-size: 15px;
  font-family: "BPG Arial", sans-serif;
}

@media (max-width: 1024px) {
  main .container .popular-manufacturer .manufacture-section-title .filterbrand button, main .container .popular-manufacturer .new-added-video-title .filterbrand button, main .container .new-added-video .manufacture-section-title .filterbrand button, main .container .new-added-video .new-added-video-title .filterbrand button {
    width: 100%;
    margin: 15px 0;
  }
}

main .container .popular-manufacturer .slick-arrow, main .container .new-added-video .slick-arrow {
  background: transparent;
  border: unset;
  position: absolute;
  z-index: 9;
  top: -100px;
  outline: none;
}

main .container .popular-manufacturer .slick-prev, main .container .new-added-video .slick-prev {
  right: 50px;
}

main .container .popular-manufacturer .slick-next, main .container .new-added-video .slick-next {
  right: 0;
}

main .container .popular-manufacturer .slick-slide, main .container .new-added-video .slick-slide {
  outline: none;
  overflow: hidden;
  margin: 0 15px;
}

main .container .popular-manufacturer .slick-slide .video_text-content h4, main .container .new-added-video .slick-slide .video_text-content h4 {
  color: #0E1119;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-top: 15px;
  margin: unset !important;
}

main .container .popular-manufacturer .slick-slide .video_text-content p, main .container .new-added-video .slick-slide .video_text-content p {
  color: #ADB5BD;
  font-family: "BPG Arial", sans-serif;
  font-size: 14px;
  margin: 10px 0;
}

main .container .popular-manufacturer .slick-slide .video_image-content, main .container .new-added-video .slick-slide .video_image-content {
  position: relative;
  height: 200px  !important;
}

main .container .popular-manufacturer .slick-slide .video_image-content:after, main .container .new-added-video .slick-slide .video_image-content:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 32, 44, 0.35);
}

main .container .popular-manufacturer .slick-slide .video_image-content:hover, main .container .new-added-video .slick-slide .video_image-content:hover {
  cursor: pointer;
}

main .container .popular-manufacturer .slick-slide .video_image-content:hover:after, main .container .new-added-video .slick-slide .video_image-content:hover:after {
  display: none;
}

main .container .popular-manufacturer .slick-slide .video_image-content:hover img.playbutton, main .container .new-added-video .slick-slide .video_image-content:hover img.playbutton {
  opacity: 0;
  -webkit-transform: translate(-50%, -30px);
          transform: translate(-50%, -30px);
}

main .container .popular-manufacturer .slick-slide .video_image-content img.playbutton, main .container .new-added-video .slick-slide .video_image-content img.playbutton {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .container .popular-manufacturer .slick-slide .video_image-content img.slider_back-image, main .container .new-added-video .slick-slide .video_image-content img.slider_back-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

main .container .popular-manufacturer .manufacture-section-content, main .container .popular-manufacturer .new-added-video-content, main .container .new-added-video .manufacture-section-content, main .container .new-added-video .new-added-video-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  main .container .popular-manufacturer .manufacture-section-content, main .container .popular-manufacturer .new-added-video-content, main .container .new-added-video .manufacture-section-content, main .container .new-added-video .new-added-video-content {
    padding: 0 15px;
  }
}

main .container .popular-manufacturer .manufacture-section-content .manufacture-brand-logo, main .container .popular-manufacturer .new-added-video-content .manufacture-brand-logo, main .container .new-added-video .manufacture-section-content .manufacture-brand-logo, main .container .new-added-video .new-added-video-content .manufacture-brand-logo {
  min-width: 10%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 992px) {
  main .container .popular-manufacturer .manufacture-section-content .manufacture-brand-logo, main .container .popular-manufacturer .new-added-video-content .manufacture-brand-logo, main .container .new-added-video .manufacture-section-content .manufacture-brand-logo, main .container .new-added-video .new-added-video-content .manufacture-brand-logo {
    width: unset;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 500px) {
  main .container .popular-manufacturer .manufacture-section-content .manufacture-brand-logo, main .container .popular-manufacturer .new-added-video-content .manufacture-brand-logo, main .container .new-added-video .manufacture-section-content .manufacture-brand-logo, main .container .new-added-video .new-added-video-content .manufacture-brand-logo {
    width: 50% !important;
  }
}

main .container .popular-manufacturer .manufacture-section-content .manufacture-brand-logo a, main .container .popular-manufacturer .new-added-video-content .manufacture-brand-logo a, main .container .new-added-video .manufacture-section-content .manufacture-brand-logo a, main .container .new-added-video .new-added-video-content .manufacture-brand-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 20px;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

main .container .popular-manufacturer .manufacture-section-content .manufacture-brand-logo a img, main .container .popular-manufacturer .new-added-video-content .manufacture-brand-logo a img, main .container .new-added-video .manufacture-section-content .manufacture-brand-logo a img, main .container .new-added-video .new-added-video-content .manufacture-brand-logo a img {
  width: 60px;
}

main .container .popular-manufacturer .manufacture-section-content .manufacture-brand-logo a:hover, main .container .popular-manufacturer .new-added-video-content .manufacture-brand-logo a:hover, main .container .new-added-video .manufacture-section-content .manufacture-brand-logo a:hover, main .container .new-added-video .new-added-video-content .manufacture-brand-logo a:hover {
  background: #EC0F44;
}

.slick-dots {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}

.slick-dots li.slick-active button {
  position: relative;
  background: transparen !important;
}

.slick-dots li.slick-active button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #EC0F44;
  -webkit-animation: slickactive 0.2s linear;
          animation: slickactive 0.2s linear;
}

.slick-dots li button {
  border: none;
  width: 30px;
  height: 3px;
  background: #CED4DA;
  margin: 0 5px;
  border-radius: 3px;
}

footer .container .footer-menu_section {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  footer .container .footer-menu_section {
    padding: 35px 15px;
  }
}

@media (max-width: 767px) {
  footer .container .footer-menu_section .footer-logo {
    display: none;
  }
}

@media (max-width: 767px) {
  footer .container .footer-menu_section nav.footer-nav {
    width: 100%;
  }
}

footer .container .footer-menu_section nav.footer-nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: unset !important;
}

@media (max-width: 767px) {
  footer .container .footer-menu_section nav.footer-nav ul {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: unset;
  }
}

footer .container .footer-menu_section nav.footer-nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 10px;
  color: #212529;
  font-size: 14px;
  font-family: "BPG Arial", sans-serif;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  footer .container .footer-menu_section nav.footer-nav ul li a {
    font-size: 12px !important;
    padding: unset !important;
  }
}

footer .container .footer-menu_section nav.footer-nav ul li a:hover {
  color: #EC0F44 !important;
}
/*# sourceMappingURL=style.css.map */