$large: 2500px
$middle: 1900px
$laptop_lg: 1400px
$laptop_md: 1200px
$laptop_sm: 1024px
$laptop: 992px
$tablet: 767px
$mobile: 500px
$iphone5: 330px

=large
  @media (max-width: #{$large})
    @content
=middle
  @media (max-width: #{$middle})
    @content
=laptop_lg
  @media (max-width: #{$laptop_lg})
    @content
=laptop_md
  @media (max-width: #{$laptop_md})
    @content
=laptop_sm
  @media (max-width: #{$laptop_sm})
    @content
=laptop
  @media (max-width: #{$laptop})
    @content
=tablet
  @media (max-width: #{$tablet})
    @content
=mobile
  @media (max-width: #{$mobile})
    @content
=iphone5
  @media (max-width: #{$iphone5})
    @content
// --------------------------------------
    

.container
  max-width: 1400px !important
  position: relative
  z-index: 2
  +tablet
    padding: unset !important

header
  position: relative
  z-index: 1
  width: 100%
  .image-background
    display: none
  .video-background
  section.top-header-background
    position: absolute
    z-index: 0
    left: 0
    top: 0
    height: 850px
    width: 100%
    background: #000
    overflow: hidden
    +laptop_sm
      height: 600px
    +tablet
      height: 500px
    +mobile
      height: 400px
    // ---background VIDEO
    video
      width: 100%
      height:  850px
      object-fit: cover
      +laptop_sm
        height: 600px
      +tablet
        height: 500px
      +mobile
        height: 400px
    // ---background IMAGE
    img
      width: 100%
      height: 100%
      object-fit: cover !important
    &:after
      content: ""
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: rgba(27,32,44,0.1)
  .container
    display: flex
    flex-direction: column
    min-height: 850px
    +laptop_sm
      min-height: 600px
    +tablet
      min-height: 500px
    +mobile
      min-height: 400px
    .top-header-menu_section
      padding: 30px 0
      display: flex
      align-items: center
      justify-content: space-between
      +tablet
        padding: 30px 15px
      .top-header-logo
      .active-burger
        span
          transform-style: preserve-3d !important
        &>:nth-child(1)
          top:  18px !important
          animation: hamburg1 0.45s  !important
          animation-delay: 0.7s !important
          transform: rotate(45deg)
          transition-delay: 0.1s
          left: 5px
        &>:nth-child(2)
          top: 18px !important
          opacity: 0
          width: 0
        &>:nth-child(3)
          top:  18px !important
          animation: hamburg2 0.45s  !important
          animation-delay: 0.7s !important
          transform: rotate(-45deg)
          transition-delay: 0.1s
          left: 5px
      .top-header-burger
        display: none
        width: 40px
        height: 40px
        background: #fff
        padding: 10px
        align-content: space-between
        flex-direction: column
        position: relative
        +laptop_md
          display: flex
        span
          transition: top 0.5s
          position: absolute
          transition: 0.4s
          display: flex
          height: 2px
          border-radius: 15px
          width: calc(100% - 10px )
          background: #1B202C
          left: 50%
          transform: translateX(-50%)
        &>:nth-child(1)
          top: 10px
        &>:nth-child(2)
          top: 20px
        &>:nth-child(3)
          top: calc(100% - 10px)
      nav.top-header-nav
        background: #fff !important
        transition: all  0.9s 
        position: relative
        +laptop_md
          display: none
          
        ul
          list-style-type: none
          display: flex
          margin: unset !important
          justify-content: flex-start
          .border-bottomm
            transition: all 0.2s
            height: 3px
            background: #EC0F44
            position: absolute
            bottom: 0
          li.active-nav-link
            a
              color: #EC0F44 !important
          //   &:before
          //     width: 100%
          //     bottom: 2px !important
          li.compare-nav-link
            &:hover
              a
                color: #fff !important
                .fa-long-arrow-alt-right
                  animation: compareleft 0.5s linear 0.2s
                .fa-long-arrow-alt-left
                  animation: compareright 0.5s  linear 0.2s
              &:before
                display: none !important
            a
              background: #EC0F44
              padding: 15px 30px
              color: #fff
              display: flex
              align-items: center
              img
                width: 15px
                position: relative
                fill: #fff
              .fa-long-arrow-alt-right
                transform: translateY(-3px)
              .fa-long-arrow-alt-left
                transform: translateY(3px)
                margin-right: 15px
          li
            padding: 15px 20px
            position: relative
            overflow: hidden
            // &:before
            //   position: absolute
            //   content: ""
            //   width: 0%
            //   height: 2px
            //   right: 0
            //   display: block
            //   background: #EC0F44
            //   left: auto
            //   bottom: 2px
            //   transition: width 0.3s linear 0s 
            &:hover
              color: #EC0F44 !important
              a
                color: #EC0F44
              // &:before
              //   left: 0
              //   width: 100%
              //   right: auto 
            a
              display: flex
              padding: 15px 10px
              color: #212529
              font-size: 14px
              font-family: "BPG Arial", sans-serif
              text-decoration: none
              align-items: center
              position: relative
    .top-header-body
      flex: 1
      width: 100%
      display: flex
      align-items: center
      +tablet
        padding: 0 15px
      .body-content_section
        h1
          font-size: 60px
          color: #fff
          margin: 10px 0
          font-family: "BPG Arial Caps", sans-serif
          transform: all 0.4s
          +laptop_sm
            font-size: 50px
          +tablet
            font-size: 25px
        h3
          font-size: 37px
          color: #fff
          margin: 10px 0
          font-family: "BPG Arial Caps", sans-serif
          transform: all 0.4s
          +laptop_sm
            font-size: 25px
          +tablet
            font-size: 15px
        .body-buttons_section
          +tablet
            display: none
          button
            padding: 15px 50px
            border: none
            margin: 10px 20px 10px 0
            a
              color: #fff
              font-size: 14px
              font-family: "BPG Arial", sans-serif
              text-decoration: none
          &>:nth-child(1)
            background: #EC0F44 
            border: 2px solid #EC0F44
          &>:nth-child(2)
            border: 2px solid #fff
            background: transparent  
main
  position: relative
  z-index: 3
  transform: translateY(-150px)
  +laptop_sm
    transform: translateY(-120px)
  +tablet
    transform: translateY(-80px)
  
  .filterbrand
    +tablet
      padding: 0 15px
    +laptop_sm
      width: 100%
    button
      border: 1px solid #EC0F44
      background: transparent
      a
        display: flex
        padding: 20px 40px
        font-size: 15px
        font-family: "BPG Arial", sans-serif
        color: #0E1119
        justify-content: center
        text-decoration: none
      +laptop_sm
        width: 100%
        margin: 15px 0
  .new-car-models-content
    display: flex
    justify-content: flex-end
    position: relative
    +laptop_md
      flex-direction: column
    .slick-arrow
      background: transparent
      border: unset
      position: absolute
      z-index: 9
      bottom: 100px
      outline: none
      .fas
        color: #919aa2
        &:hover
          color: red
    .slick-prev
      left: -120px
      .fas
        font-size: 30px
    .slick-next
      left: -80px
      .fas
        font-size: 30px
    // .slick-track
    //   &>:nth-child(1)
    //     +tablet
    //       width: 300px !important
    .car-models-text-content
      width: 670px
      // background: red
      padding: 50px 0
      +laptop_md
        order: 2
        width: 100%
      +tablet
        padding: 15px 0 50px 0
      p
        padding-left: 115px
        padding-right: 40px
        font-size: 15px
        color: #ADB5BD
        font-family: "BPG Arial", sans-serif
        text-align: justify
        +laptop_md
          padding: 0 15px  !important
        +tablet
          font-size: 12px
        span
          color: red
          font-size: 20px
      .filterbrand
        padding: 40px 40px 40px 115px
        +laptop
          display: none
        button
          background: #EC0F44
          a
            color: #fff
            justify-content: center
    
    .car-models-slider-content
      width: 50vw
      // background: blue
      // padding: 50px 0
      +laptop_md
        width: 100%
        order: 1
        padding: 0 15px
      +mobile
        padding: unset 
      .each-car-model.slick-active
        +mobile
          // width: 60% !important
          height: 240px
      .each-car-model.slick-slide
        padding: 5px
        // height: 240px
        width: 340px !important
        +tablet
          // width: unset !important
        +mobile
          padding: 15px 
        .video_image-content
          overflow: hidden
          +tablet
            height: 200px
          img
            width: 100%
            height: 100%
            object-fit: cover
        .video_text-content
          h4
            font-size: 17px
  .container
    .filter-menu-content
      form
        background: #fff
        box-shadow: 0  0 20px rgba(0,0,0,0.2)
        +tablet
          margin: 0 15px
        .filter-form-title-responsive
          display: none
          +laptop_sm
            display: flex !important
            h2  
              font-size: 13px !important
        .filter-form-title
          +laptop_sm
            display: none
        .filter-form-title, .filter-form-title-responsive
          padding: 40px 0 25px 0
          margin: 0 40px
          position: relative
          +laptop_sm
            padding: 15px 0 !important
          &:after
            position: absolute
            content: ""
            background: #EC0F44
            height: 4px
            width: 50px
            left: 0
            bottom: 0
            +laptop_sm
              display: none
          h2
            font-size: 24px
            font-family: "BPG Arial Caps", sans-serif
            color: #0E1119
            margin: 6px 0
          h4
            color: #ADB5BD
            font-size: 22px
            font-family: "BPG Arial", sans-serif
            margin: 6px 0
        .filter-form-content
          padding: 25px
          display: flex
          flex-direction: column
          +laptop_sm
            padding: 0 20px
          .filter-form-group._second-group
            +laptop_sm
              flex-direction: column
            .group-content
              +laptop_sm
                flex-grow: 0 !important
                width: 100% !important
                padding: unset !important
              .filter-input
                +mobile
                  flex-direction: column
                input
                  +mobile
                    margin: 10px 0
                    width: 100% !important
          
          .filter-form-group._first-group
            +tablet
              flex-direction: column
            .group-content
              +tablet
                flex-grow: 0 !important
                width: 100% !important
                padding: unset !important
          
          ._first-group
            .group-content
              position: relative
              &:after
                content: "\f0dd"
                color: #ADB5BD
                font-family: "Font Awesome 5 Pro"
                font-weight: 900
                position: absolute
                right: 40px
                top: calc(50% + 15px - 0.5rem)
                transform: translateY(-50%)
                z-index: 3
                pointer-events: none
                display: block
                +tablet
                  top: 50% !important
                  right: 20px
          .filter-form-group
            width: 100%
            display: flex
            padding: 15px 0
            justify-content: space-between
            .group-content
              display: flex
              flex-grow: 1
              padding: 0 15px
              flex-direction: column
              label
                font-size: 15px
                font-family: "BPG Arial", sans-serif
                +tablet
                  display: none
                span
                  color: #ADB5BD
              select
                -webkit-appearance: none
                -moz-appearance: none
                appearance: none
              select, .filter-input input
                outline: none
                border: none
                font-family: "BPG Arial", sans-serif
                background: #F1F3F5
                padding: 20px
                width: 100%
                font-size: 13px
                +tablet
                  margin: 7px 0
              .filter-input
                display: flex
                justify-content: space-between
              .filter-input input
                width: calc(50% - 8px)
                &:focus, &:not(:focus)
                  opacity: 1 !important
                &::placeholder
                  font-size: 13px
                  font-family: "BPG Arial", sans-serif
        .filter-form-buttons
          display: flex
          justify-content: space-between
          align-items: center
          padding: 40px
          +laptop_sm
            padding: 20px 
          input
            border: none
            font-family: "BPG Arial", sans-serif
            font-size: 15px
            color: #ADB5BD
            background: none
            +laptop_sm
              font-size: 12px
          &>:nth-child(2)
            background: #EC0F44
            padding: 15px 35px
            color: #fff
            +laptop_sm
              padding: 10px 30px
    .new-added-video
    .manufacture-section-title
      padding-top: 90px
    .popular-manufacturer, .new-added-video, .new-car-models
      .manufacture-section-title, .new-added-video-title, .new-car-models-title
        display: flex
        align-items: center
        justify-content: space-between
        +laptop_sm
          flex-direction: column
          overflow: hidden
        .title-leftside-content
          display: flex
          align-items: center
          +laptop_sm
            width: 100%
          .accounting_section
            margin-right: 10px
            padding: 15px 0
            font-family: 'Roboto', sans-serif
            font-size: 100px
            font-weight: 900
            color: #EC0F44
            transition: all 0.5s
            +tablet
              padding: unset
              transform: translateX(-20px)
              margin: unset !important
            +laptop_sm
              font-size: 80px
            +tablet
              font-size: 70px

          .titlewithslug
            h2
              font-size: 24px
              font-family: "BPG Arial Caps", sans-serif
              color: #0E1119
              margin-bottom: 15px
              +laptop_sm
                font-size: 19px
              +tablet
                font-size: 16px
            h4
              color: #ADB5BD
              font-size: 18px
              font-family: "BPG Arial", sans-serif
              +laptop_sm
                font-size: 15px
              +tablet
                font-size: 12px
      .owl-nav
        background: transparent
        border: unset
        position: absolute
        z-index: 9
        top: -100px
        outline: none
        right: 0
        +mobile
          display: none
        button
          outline: none !important
          .fas
            color: #ADB5BD
            font-size: 30px
          &:hover
            background: unset !important
      // .slick-track
      //   &>:nth-child(1)
      //     +tablet
      //       width: 300px !important
      .owl-item.active
        +mobile
          width: 300px !important
      .item
        outline: none
        overflow: hidden
        // background: red !important
        margin: 0 5px
        +mobile
          padding-left:  10px
          margin: unset !important
        .video_text-content
          h4
            color: #0E1119
            font-size: 17px
            font-family: 'Roboto', sans-serif
            font-weight: 500
            padding-top: 15px
            margin: unset !important
            +mobile
              font-size: 13px
          p
            color: #ADB5BD
            font-family: "BPG Arial", sans-serif
            font-size: 14px
            margin: 10px 0
            +mobile
              font-size: 11px
        .video_image-content
          position: relative
          height: 200px  !important
          &:after
            content: ""
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            background: rgba(27,32,44,0.35)
          &:hover
            cursor: pointer
            &:after
              display: none
            img.playbutton
              opacity: 0
              transform: translate(-50%, -30px)
          img.playbutton
            transition: all 0.4s
            position: absolute
            z-index: 5
            left: 50%
            top: 50%
            width: 43px !important
            transform: translate(-50%,-50%)
          img.slider_back-image
            height: 100%
            width: 100%
            object-fit: cover
            object-position: center center
      .manufacture-section-content, .new-added-video-content
        display: flex
        position: relative
        flex-wrap: wrap
        +tablet
          padding: 0 15px
        .manufacture-brand-logo
          min-width: 10%
          transition: all 0.4s
          +laptop
            width: unset 
            flex-grow: 1
          +mobile
            width: 50% !important
          a
            display: flex
            padding: 40px 20px
            width: 100%
            height: 100%
            display: flex
            justify-content: center
            align-items: center
            transition: ease-in-out 0.4s
            img
              width: 60px
            &:hover
              background: #EC0F44
.slick-list.draggable
  +mobile
    height: 260px
// div.slick-slide
//   float: right !important
div.slick-active.slick-center
  +mobile
    width: 360px !important
.slick-dots
  list-style-type: none
  display: flex
  justify-content: center
  padding: 40px 0

  li.slick-active
    button
      position: relative
      background: transparen !important
      &::after
        position: absolute
        content: ""
        top: 0
        left: 0
        width: 100%
        height: 3px
        background: #EC0F44
        animation: slickactive 0.2s linear
        
  li
    button
      border: none
      width: 30px
      height: 3px
      background: #CED4DA
      margin: 0 5px
      border-radius: 3px
footer
  background: #F8F9FA
  .container
    .footer-menu_section
      padding: 40px 0
      display: flex
      justify-content: space-between
      align-items: center
      +tablet
        padding: 35px 15px
      .footer-logo
        img
          width: 90px
        +tablet
          display: none
      nav.footer-nav
        +tablet
          width: 100%
        ul
          list-style-type: none
          display: flex
          margin: unset !important
          +tablet
            width: 100%
            justify-content: space-between
            padding: unset
          li
            a
              display: flex
              padding: 15px 10px
              color: #212529
              font-size: 14px
              font-family: "BPG Arial", sans-serif
              text-decoration: none
              align-items: center
              +tablet
                font-size: 12px !important
                padding: unset !important
              &:hover
                color: #EC0F44 !important
